section#3rd.text
    h2 Hinweis zu 3rd-Party Software
    p Open Source ist ein wichtiger bestandteil des Internets.
    p Die Joice App, die Kommunikation und diese Webseite wurden mit freiverwendbaren Softwareprodukten erstellt
    h3 Die Joice App 
    h3 Das Server-Backend 
    h3 Diese Webseite
    p Die Webseite wurde mit folgender Software realisiert 
    ul
        li npm 
        li scss 
        li pug
        li Bootstrap