section#imprint.text
    h2 Impressum
    h4 Angaben gem&auml;&szlig; &sect; 5 TMG
    p 
        strong joiceapp Adshead Fette L&uuml;&szlig;mann Sch&auml;fer Tallowitz GbR
        br
        | c/o Fette/Sch&auml;fer
        br
        | Gebbertstr. 61
        br
        | 91052 Erlangen
    p
        strong Vertreten durch:
        br
        | Jonathan Adshead
        br
        | Marvin Fette
        br
        | Thomas L&uuml;&szlig;mann
        br
        |Anne Sch&auml;fer
        br
        | Yannes Tallowitz

    p#contact
        strong Kontakt:
        br
        | Telefon: +49 (160) 9521-2401
        br
        | E-Mail:
        a(href='mailto:contact@joiceapp.com') contact@joiceapp.com

    p
        strong Mit dem Datenschutz beauftragte Person:
        br
        | Yannes Tallowitz
        br
        | E-Mail:
        a(href='mailto:contact@joiceapp.com') contact@joiceapp.com

    h4 Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle
    p Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.

    p
        | Quelle:
        a(href='https://www.e-recht24.de', target='_blank') e-recht24.de