section#pic.text
    h2 Bildnachweise
    p Alle Bilder die wir verwenden werden von
        a(href='https://pixabay.com/de/') pixabay
        | bereitgestellt. Die Grafiken sind frei verwendbar 
        a(href='https://pixabay.com/de/service/license/') https://pixabay.com/de/service/license/
        | .