// 
// Footer
// 
footer {
    a {

        color: fade-out($white, 0.5);
        text-decoration: none;

        &:hover,
        &:active,
        &:focus {
            color: fade-out($white, 0.25);
            text-decoration: underline;
        }
    }
    a.disabled {
        pointer-events: none;
        cursor: not-allowed; 
    }

    hr {
        background-color: fade-out($white, 0.5);;
    }
    .heart {
        color: $red;
    }
    .footer-headline {
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 0.8rem;
    }
}
