.card.text-end#cookie-card
    .card-body
        h5.card-title Cookie Hinweis
        p.card-text
            i.bi.bi-palette-fill.cookie-icon.text-gradient
            | Diese Seite kommt komplett ohne Cookies aus.
            br
            | Deswegen kommt auch dieses Banner immer wieder!
        a.btn-sm.btn.btn-outline-secondary#ck-dismiss(href='javascript:void(0)') Verstanden