//Done Modal
.modal.fade#weHaveDoneIt(tabindex="-1", role="dialog", aria-labelledby="weHaveDoneIt", aria-hidden="true")
  .modal-dialog.modal-dialog-centered(role="document")
    .modal-content
      .modal-header
        h5.modal-title.font-alt Das 5 Euro Business Wettbewerb ist vorbei
        button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close")
      .modal-body Wir haben unsere Geschäftsaktivitäten eingestellt. Vielen Dank für die Unterstützung unseres Unternehmens. Unsere Webseite wird nicht mehr aktualisiert. 
        br
        br
        i.bi.bi-heart-fill.text-gradient
        | Jonathan, Marvin, Thomas, Anne, Yannes
      .modal-footer
        button.btn-sm.btn.btn-outline-secondary(type="button", data-bs-dismiss="modal") Schließen
    
