footer.bg-black.py-5.text-center
    .container.px-5
        .row.text-white-50
            .col
                .d-block.footer-headline joiceapp
                .d-block
                    a(href='#') Wir im Playstore
                .d-block
                    a(href='#')
                        i.bi.bi-instagram
                        span Instagram
                .d-block 
                    a(href='https://github.com/joiceapp')
                        i.bi.bi-github
                        span Github
            .col 
                .d-block.footer-headline Open Source
                .d-block Ohne Open Source und freiverwendbare Software wäre diese Projekt nicht möglich!
            .col 
                .d-block.footer-headline Unternehmen
                .d-block 
                    a(href='/imprint.html#imprint') Impressum
                .d-block 
                    a(href='/imprint.html#tos') Datenschutzerklärung
                .d-block 
                    a(href='/imprint.html#agb') Allgemeine Nutzungsbedingungen
                .d-block 
                    a(href='/imprint.html#pic') Bildnachweise                  


        hr
        .text-white-50.small
                .mb-2 Build with
                    span.heart &hearts; 
                    | in Erlangen

include feedback-modal

// Bootstrap core JS
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

// Core theme JS
script(src='js/scripts.js')

    // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
    // * *                               SB Forms JS                               * *
    // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
    // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')