// Quote/testimonial aside
aside.text-center.bg-gradient-primary-to-secondary
    .container.px-5
        .row.gx-5.justify-content-center
            .col-xl-12
                .h3.fs-1.text-white.mb-4 START UP YOUR IDEA! Wir sind Teilnehmer beim 5 Euro Business Wettbewerb. Der praxisorientierte Wettbewerb zum Thema Existenzgründung für Studierende.
                a(href='https://www.5-euro-business.de')
                    img(src='https://www.5-euro-business.de/fileadmin/templates/feb2015/images/logo-5-euro-business.svg', alt='5 Euro Business Logo', style='height: 3rem;')