- var titleprefix = "Über uns"
doctype html
html(lang='de')

    include includes/core-elements/head

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.shadow-sm
            .container.px-5
                a.navbar-brand(href='/index.html') 
                    img(src='/assets/img/logo.png' height='52')
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Menü einklappen')
                    | Menü
                    i.bi-list
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto.me-4.my-3.my-lg-0
                        li.nav-item
                            a.nav-link.me-lg-3(href='/index.html#features') Funktionen
                        li.nav-item
                            a.nav-link.me-lg-3(href='/index.html#download') Herunterladen
                        li.nav-item
                            //manuel set active about us
                            a.nav-link.me-lg-3.active(href='/about_us.html') Über uns
                    a.btn.btn-primary.rounded-pill.px-3.mb-2.mb-lg-0(href='https://www.instagram.com/joiceapp/', target='_blank')
                        span.d-flex.align-items-center
                            i.bi.bi-instagram.me-2
                            span.small Instagram

        // Call to action section
        section.cta
            .cta-content
                .container.px-5
                    h2.text-white.display-2.lh-1.mb-4
                        | Unsere Mission:
                        br
                        | Menschen zusammenbringen!  &#x1F372; 
                    a.btn.btn-outline-light.py-3.px-4.rounded-pill(href='/index.html#features') Unsere App

        // imprint and legal section
        section.bg-light.legal
            .container.px-5.text-left 
                .table-of-content#content-table 
                    a.btn.btn-outline-primary(href='#imprint') Impressum
                    a.btn.btn-outline-primary(href='#tos') Datenschutzerklärung
                    a.btn.btn-outline-primary(href='#agb') Allgemeine Nutzungsbedingungen
                    a.btn.btn-outline-primary(href='#pic') Bildnachweise
                
                include includes/about-us/imprint

                include includes/about-us/tos

                include includes/about-us/agb
                
                include includes/about-us/pic-disclamer
                

        include includes/app-elements/download

        include includes/core-elements/footer 

        include includes/core-elements/cookie