- var titleprefix = "Über uns"
doctype html
html(lang='en')

    include includes/head

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.shadow-sm
            .container.px-5
                a.navbar-brand(href='#page-top') 
                    img(src='assets/img/logo.png' height='52')
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menü
                    i.bi-list
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto.me-4.my-3.my-lg-0
                        li.nav-item
                            a.nav-link.me-lg-3(href='/index.html#features') Funktionen
                        li.nav-item
                            a.nav-link.me-lg-3(href='/index.html#download') Herunterladen
                        li.nav-item
                            a.nav-link.me-lg-3(href='/imprint.html') Über uns
                    button.btn.btn-primary.rounded-pill.px-3.mb-2.mb-lg-0(data-bs-toggle='modal', data-bs-target='#feedbackModal')
                        span.d-flex.align-items-center
                            i.bi-chat-text-fill.me-2
                            span.small Kontakt

        // Call to action section
        section.cta
            .cta-content
                .container.px-5
                    h2.text-white.display-2.lh-1.mb-4
                        | Unsere Mission:
                        br
                        | Menschen zusammenbringen!  &#x1F372; 
                    a.btn.btn-outline-light.py-3.px-4.rounded-pill(href='/index.html#features') Unsere App

        // imprint and legal section
        section.bg-light.legal
            .container.px-5.text-left 
                .table-of-content#content-table 
                    a.btn.btn-outline-primary(href='#imprint') Impressum
                    a.btn.btn-outline-primary(href='#tos') Datenschutzerklärung
                    a.btn.btn-outline-primary(href='#tos') Allgemeine Nutzungsbedingungen
                    a.btn.btn-outline-primary(href='#tos') Bildnachweise
                    a.btn.btn-outline-primary(href='#tos') Hinweis zu Cookies
                    a.btn.btn-outline-primary(href='#tos') Hinweis zu 3rd-Party Software
                section#imprint.text
                    h2 Impressum
                    h4 Angaben gem&auml;&szlig; &sect; 5 TMG
                    p 
                        strong joiceapp Adshead Fette L&uuml;&szlig;mann Sch&auml;fer Tallowitz GbR
                        br
                        | c/o Fette/Sch&auml;fer
                        br
                        | Gebbertstr. 61
                        br
                        | 91052 Erlangen
                    p
                        strong Vertreten durch:
                        br
                        | Jonathan Adshead
                        br
                        | Marvin Fette
                        br
                        | Thomas L&uuml;&szlig;mann
                        br
                        |Anne Sch&auml;fer
                        br
                        | Yannes Tallowitz

                    p
                        strong Kontakt:
                        br
                        | Telefon: +49 (160) 9521-2401
                        br
                        | E-Mail:
                        a(href='mailto:contact@joiceapp.com') contact@joiceapp.com

                    p
                        strong Mit dem Datenschutz beauftragte Person:
                        br
                        | Yannes Tallowitz
                        br
                        | E-Mail:
                        a(href='mailto:contact@joiceapp.com') contact@joiceapp.com

                    h4 Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle
                    p Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.

                    p
                        | Quelle:
                        a(href='https://www.e-recht24.de', target='_blank') e-recht24.de

                section#tos.text
                    h2 Datenschutzerklärung
                section#agb.text
                    h2 Allgemeine Nutzungsbedingungen
                section#pic.text
                    h2 Bildnachweise

        include includes/download

        include includes/footer 
