section.bg-light#earlyaccess
    .container.px-5
        .row.gx-5.align-items-center.justify-content-center.justify-content-lg-between
            .col-12.col-lg-5
                h2.display-4.lh-1.mb-4 joice testen
                p.lead.fw-normal.text-muted.mb-5.mb-lg-0 joice befindet sich aktuell noch in der Entwicklung. Wir brauchen Dein Feedback um die App weiter zu verbessern und neue Funktionen freizuschalten! Klicke auf 'Jetzt testen' um einen Early Access Zugang zu bekommen.
                br    
                a.btn.btn-outline-primary.rounded-pill.px-3.btn-lg.mb-2.mb-lg-0(href='https://play.google.com/apps/testing/com.joiceapp.app', target='_blank')
                        span.d-flex.align-items-center
                            i.bi.bi-check-square.me-2
                            span.small Jetzt teilnehmen
            .col-sm-8.col-md-6
                .px-5.px-sm-0
                    img.img-fluid.rounded-circle(src='assets/img/early_access_joiceapp.png', alt='Bild Teamwork', height='100%', width='100%')