// App features section
section#features
    .container.px-5
        .row.gx-5.align-items-center
            .col-lg-8.order-lg-1.mb-5.mb-lg-0
                .container-fluid.px-5
                    .row.gx-5
                        .col-md-6.mb-5
                            .text-center
                                i.bi.bi-people.icon-feature.text-gradient.d-block.mb-3
                                h4.font-alt Lerne neue Leute kennen
                                p.text-muted.mb-0 Über unsere App kannst du schnell neue Kontakte knüpfen!
                        .col-md-6.mb-5
                            .text-center
                                i.bi.bi-pin-map.icon-feature.text-gradient.d-block.mb-3
                                h4.font-alt Finde den perfekten Abend
                                p.text-muted.mb-0 Auf joice findest du lokale Kochgelegenheiten in deiner Nähe!
                    .row
                        .col-md-6.mb-5.mb-md-0
                            .text-center
                                i.bi.bi-door-open.icon-feature.text-gradient.d-block.mb-3
                                h4.font-alt Entdecke andere Küchen
                                p.text-muted.mb-0 Neue Leute, neue Küchen. Jeder kocht anders, entdecke deine Lieblingsküche neu!
                        .col-md-6
                            .text-center
                                i.bi.bi-trophy.icon-feature.text-gradient.d-block.mb-3
                                h4.font-alt Gib das perfekte Dinner
                                p.text-muted.mb-0 Zeig allen deine Kochkünste und gib das perfekte Dinner!
            .col-lg-4.order-lg-0
                // Features section device mockup
                .features-device-mockup
                    include gradient-circle
                    include shape-1
                    include shape-2
                    .device-wrapper
                        .device(data-device='iPhoneX', data-orientation='portrait', data-color='black')
                            .screen.bg-black
                                img(src='assets/img/spaghetti-g0e42d4c1a_1280_.jpg', style='width:100%; height: 100%; object-fit: cover; object-position: 90%')