section.bg-light
    .container.px-5
        .row.gx-5.align-items-center.justify-content-center.justify-content-lg-between
            .col-12.col-lg-5
                h2.display-4.lh-1.mb-4 Enter a new age of web design
                p.lead.fw-normal.text-muted.mb-5.mb-lg-0 This section is perfect for featuring some information about your application, why it was built, the problem it solves, or anything else! There's plenty of space for text here, so don't worry about writing too much.
            .col-sm-8.col-md-6
                .px-5.px-sm-0
                    img.img-fluid.rounded-circle(src='assets/img/people.jpg', alt='Bild Teamwork')