section.bg-light
    .container.px-5
        .row.gx-5.align-items-center.justify-content-center.justify-content-lg-between
            .col-12.col-lg-5
                h2.display-4.lh-1.mb-4 Du kannst es nicht mehr abwarten?
                p.lead.fw-normal.text-muted.mb-5.mb-lg-0 Unsere App ist gerade noch in der Entwicklung. Dabei gibt es viel zu tun. Wir, das Team von joice, kümmern uns darum, die App so schnell wie möglich verfügbar zu machen.
                    br
                    | Wenn du auf dem neusten Stand sein möchtest, folge uns doch einfach
                    a.btn.btn-primary.rounded-pill.px-3.mb-2.mb-lg-0(href='https://www.instagram.com/joiceapp/', target='_blank')
                        span.d-flex.align-items-center
                            i.bi.bi-instagram.me-2
                            span.small Instagram
            .col-sm-8.col-md-6
                .px-5.px-sm-0
                    img.img-fluid.rounded-circle(src='assets/img/team.png', alt='Bild Teamwork', height='100%', width='100%')