// Mashead header
header.masthead
    .container.px-5
        .row.gx-5.align-items-center
            .col-lg-6
                // Mashead text and app badges
                .mb-5.mb-lg-0.text-center.text-lg-start
                    h1.display-1.lh-1.mb-3.headline joice 
                    span.lead.fw-normal.mb-5 Keine Lust mehr einen langweiligen Abend zu verbringen? - Entdecke: joice!
                    span.lead.fw-normal.text-muted.mb-5 Eine Testversion (Early Access für Android) ist jetzt verfügbar. Folge den Anweisungen und teste unsere App.
                    br
                    br
                    a.btn.btn-outline-primary.rounded-pill.btn-lg(href='#earlyaccess') Early Access
                    a.btn.btn-outline-secondary.rounded-pill.btn-lg(href='#stores') App Stores
                    a.btn.btn-outline-dark.rounded-pill.px-3.mb-2.mb-lg-0.btn-lg(href='https://www.instagram.com/joiceapp/', target='_blank')
                        span.d-flex.align-items-center
                            i.bi.bi-instagram.me-2
                            span.small Instagram
            .col-lg-6
                // Masthead device mockup feature
                .masthead-device-mockup
                    include gradient-circle
                    include shape-1
                    include shape-2
                    .device-wrapper
                        .device(data-device='iPhoneX', data-orientation='portrait', data-color='black')
                            .screen.bg-black
                                span.device-text.font-alt.text-black Early Access
                                video(muted='muted', autoplay='', loop='', style='max-width: 100%; height: 100%;')
                                            source(src='assets/img/app_early_access_start.mp4', type='video/mp4')
