// Mashead header
header.masthead
    .container.px-5
        .row.gx-5.align-items-center
            .col-lg-6
                // Mashead text and app badges
                .mb-5.mb-lg-0.text-center.text-lg-start
                    h1.display-1.lh-1.mb-3.headline joice:
                        br
                        | meet and eat
                    p.lead.fw-normal.text-muted.mb-5 Keine Lust mehr alleine zu kochen und einen langweiligen Abend zu verbringen?
                        br
                        br
                        | Bald ist die App verfügbar.
                        br
                        | Folge uns jetzt schon auf Instagram
                        a.btn.btn-primary.rounded-pill.px-3.mb-2.mb-lg-0(href='https://www.instagram.com/joiceapp/', target='_blank')
                            span.d-flex.align-items-center
                                i.bi.bi-instagram.me-2
                                span.small Instagram
                    .d-flex.flex-column.flex-lg-row.align-items-center
                        a.me-lg-3.mb-4.mb-lg-0(href='#!')
                            img.app-badge(src='assets/img/google-play-badge.svg', alt='Link to Playstore' title='Noch nicht verfügbar!')
                        a(href='#!')
                            img.app-badge(src='assets/img/app-store-badge.svg', alt='Link to App Store' title='Noch nicht verfügbar!')
            .col-lg-6
                // Masthead device mockup feature
                .masthead-device-mockup
                    include gradient-circle
                    include shape-1
                    include shape-2
                    .device-wrapper
                        .device(data-device='iPhoneX', data-orientation='portrait', data-color='black')
                            .screen.bg-black
                                h1.device-text.font-alt.h1.text-white Coming
                                    br
                                    | soon
                                    span.dots |
                                img(src='assets/img/pexels-adonyi-gábor-1414651_.jpg', style='width:100%; height: 100%; object-fit: cover; object-position: 55%')
